<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/registration_number.css">
    <title>registration</title>
</head>

<body>

    <header>
        <hr>
        <h1>registration</h1>
        <hr>
    </header>
       <div>
                {{#if messages.error}}
            <span class="error">{{messages.error}} </span>
            {{/if}}
              {{!-- {{#if messages.success}} --}}
            <span class="success">{{messages.success}} </span>
            {{!-- {{/if}} --}}
            </div>

    <form action="/reg_numbers" Method="POST">


        <div class="regInput">
            <span class="detail">registration number</span>
            <input type="text" name="regNum" value="" placeholder="enter registration number" class="reg">
            <button class="addbtn" type="submit" name="button">add</button>
        </div>

    </form>
    

    <form action="/towns" method="post">

        <div class="town">
            <h2>please select town</h2>
            <input type="radio" name="city" id="city" value="CA">Cape town
            <input type="radio" name="city" id="city" value="CY">Bellville
            <input type="radio" name="city" id="city" value="CJ">Paarl
        </div>
        <button class=" townbtn" type="submit" name="buttons">filter by town</button>
    </form>

    <div class="btn">


        <a href="reset"><button class="counterbtn" type="submit" value="reset" name="reset">reset</button></a>
    </div>



    <div class="pop-up">
        {{#each regList}}
        <div class="display">{{this.reg}}</div>
        {{/each}}

    </div>
</body>