*{
    /* background-image: url('/img/images.jpeg'); */
    background-color:brown;
    text-align: center;
    font-size: 30px;
    /* color: white; */

    
}

h1{
    text-align: center;
    font-size: 40px;
    padding: 25px 0;
}
.regInput{
    margin: 30px;
}
.btn{
    text-align: center;
    margin-top: 40px;

}
ul{
    list-style-type: none; 
   }


